@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply w-screen h-screen overflow-x-hidden;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotating 4s linear infinite;
}

.trans-fast {
  transition: all 300ms;
}

.trans {
  transition: all 600ms;
}

.trans-slow {
  transition: all 1s;
}
